<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_contact">
                    <h4>
                        Adres
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Konum
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Telefon +90 5428924457
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                info@oemismakineleri.com
                            </span>
                        </a>
                    </div>
                </div>
                <div class="info_social">
                    <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_detail">
                    <h4>
                        Bilgi
                    </h4>
                    <p>
                        Sektördeki 10 yılı aşkın tecrübemizin ardından kurduğumuz OEM İş Makineleri, iş makinesi yedek parçası alanında güvenilir bir alt sağlayıcı olarak sizlere hizmet vermekten büyük mutluluk duyuyoruz. Yılların birikimiyle elde ettiğimiz bilgi ve deneyimi,
                        en kaliteli ürünler ve çözümler sunmak için kullanıyoruz.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
                <div class="info_link_box">
                    <h4>
                        Linkler
                    </h4>
                    <div class="info_links">
                        <a class="active"  asp-action="Index" asp-controller="Home">
                            <img src="~/template/images/nav-bullet.png" alt=""> Ana Sayfa
                        </a>
                        <a class="" asp-action="Index" asp-controller="Home">
                            <img src="~/template/images/nav-bullet.png" alt=""> Hakkımızda
                        </a>
                        <a class="" asp-action="Index" asp-controller="Home">
                            <img src="~/template/images/nav-bullet.png" alt=""> Yedek Parça
                        </a>
                        <a class="" asp-action="Index" asp-controller="Home">
                            <img src="~/template/images/nav-bullet.png" alt=""> Bize Ulaşın
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col ">
                <h4>
                    Kayıt Ol
                </h4>
                <form action="#">
                    <input type="text" placeholder="E-posta Adresini girin" />
                    <button type="Gönder">
                        Kayıt Ol
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
