
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="index-2.html" class="logo">
                <img src="~/template/img/logom.png" width="35" height="35" alt=""> <span>OEM YÖNETİCİ</span>
            </a>
        </div>


        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">



            </li>



            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="~/admin/img/user.jpg" width="24" alt="Admin">
                        <span class="status online"></span>
                    </span>
                    <span>Yönetim</span>
                </a>
                <div class="dropdown-menu">
                    <form asp-controller="Auth" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">Çıkış</button>
                    </form>

                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="profile.html">Profilim</a>
                <a class="dropdown-item" href="edit-profile.html">Profili Düzenle</a>
                <a class="dropdown-item" href="settings.html">Ayarlar</a>
                <a class="dropdown-item" href="login.html">Çıkış</a>
            </div>
        </div>
    </div>

