
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="index-2.html" class="logo">
                <img src="~/template/img/logom.png" width="35" height="35" alt=""> <span>Adminim</span>
            </a>
        </div>


        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">

               

            </li>



            <ul>
                <li><a asp-action="Logout" asp-controller="Auth">Logout</a></li>
            </ul>
        </ul>

        

       

        
    </div>

