@{
    Layout = null;
}
@if (User.Identity.IsAuthenticated)
{
    <p>Hoşgeldiniz, @User.Identity.Name</p>

    @if (User.IsInRole("admin"))
    {
        <p>Rolünüz: Admin</p>
    }
    else
    {
        <p>Rolünüz: Commenter</p>
    }
}
else
{
    <p>Giriş yapmadınız.</p>
}